#
# plugin.config
#
# Documentation:
#    https://docs.trafficserver.apache.org/en/latest/admin-guide/files/plugin.config.en.html
#
# Comments start with a '#' and continue to the end of the line
# Blank lines are ignored
#
# test-plugin.so arg1 arg2 arg3
#
# Example:
#inktomi/iwx/iwx.so
#inktomi/abuse/abuse.so etc/trafficserver/abuse.config
#inktomi/icx/icx.so etc/trafficserver/icx.config

# hello.so
# blacklist_0.so 127.0.0.1 d30.jasony.me 127.0.0.1
# system_stat.so
stats_over_http.so

# cache_scan.so
# xdebug.so
# myprotocol.so 4666 2048
# echttp.so 128.2.208.240:2048 34.231.242.225:2048 34.231.242.225:2048
echttp.so 128.2.208.240:2048 127.0.0.1:2048 127.0.0.1:2048
# echttp.so 128.2.208.240:2048 45.62.114.160:80 127.0.0.1:2048
# bnull_transform.so